body {
}
.header{
    height:100px;
    background:#000000;
    border:1px solid #CCC;
    width:960px;
    margin:0px auto;
}
.navbar{

}
.camera{

}
.footer{

}
/*.maps iframe{
    pointer-events:none;
}*/